/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@font-face {
    font-family: montserrat;
    src: url(./static/Montserrat-Regular.ttf);
}

@font-face {
    font-family: ubuntu-mono;
    src: url(./static/UbuntuMono-Regular.ttf);
}

body {
    font-family: ubuntu-mono;
}
